.button {
  font-family: var(--font-code);
  font-size: 0.75rem ;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all;
  height: 2.75rem;

  &:hover {
    color: rgb(172 106 255 / 1);
  }

  &.color-black {
    color: rgb(14 12 21 / 1);
  }

  &.color-white {
    color: rgb(255 255 255 / 1);
  }
}
