.collaborate-section {
  .left-side {
    max-width: 25rem;

    h2 {
      font-size: 1.75rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 2rem;
      }

      @media (min-width: 1024px) {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }

      @media (min-width: 1280px) {
        font-size: 3rem;
        line-height: 1.25;
      }
    }

    ul {
      max-width: 22rem;
      margin-bottom: 2.5rem;

      @media (min-width: 768px) {
        margin-bottom: 3.5rem;
      }

      li {
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        div {
          display: flex;
          align-items: center;

          h6 {
            margin-left: 1.25rem;

            &.body-2 {
              font-size: 0.875rem;
              font-weight: 300;
              line-height: 1.5rem;

              @media (min-width: 768px) {
                font-size: 1rem;
                line-height: 1.5rem;
              }
            }
          }
        }

        p {
          color: rgba(117, 113, 133, 1);
          margin-top: 0.75rem;

          &.body-2 {
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.5rem;

            @media (min-width: 768px) {
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }

  .right-side {
    margin-top: 1rem;

    @media (min-width: 1024px) {
      margin-left: auto;
    }

    @media (min-width: 1280px) {
      width: 38rem;
    }

    p {
      margin-bottom: 2rem;
      color: rgba(117, 113, 133, 1);

      &.body-2 {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.5rem;

        @media (min-width: 768px) {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      @media (min-width: 768px) {
        margin-bottom: 4rem;
      }

      @media (min-width: 1024px) {
        margin-bottom: 8rem;
        width: 22rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .design-container {
      position: relative;
      display: flex;
      left: 50%;
      width: 22rem;
      aspect-ratio: 1 / 1;
      border-width: 0.0625rem;
      border-color: rgba(37, 33, 52, 1);
      border-radius: 9999px;
      transform: translateX(-50%) scale(0.75);

      @media (min-width: 768px) {
        transform: translateX(-50%) scale(1);
      }

      .design-content {
        display: flex;
        width: 15rem;
        aspect-ratio: 1 / 1;
        margin: auto;
        border-width: 0.0625rem;
        border-color: rgba(37, 33, 52, 1);
        border-radius: 9999px;

        div {
          width: 6rem;
          margin: auto;
          aspect-ratio: 1 / 1;
          padding: 0.2rem;
          border-radius: 9999px;
          background-image: conic-gradient(
            from 225deg,
            #ffc876,
            #79fff7,
            #9f53ff,
            #ff98e2,
            #ffc876
          );

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: rgba(14, 12, 21, 1);
            border-radius: 9999px;
          }
        }
      }

      ul {
        li {
          position: absolute;
          top: 0px;
          left: 50%;
          height: 50%;
          margin-left: -1.6rem;
          transform-origin: bottom;

          div {
            position: relative;
            top: -1.6rem;
            display: flex;
            width: 3.2rem;
            height: 3.2rem;
            background-color: rgba(21, 19, 29, 1);
            border-width: 0.0625rem;
            border-color: rgba(255, 255, 255, 0.15);
            border-radius: 0.75rem;

            img {
              margin: auto;
            }
          }
        }
      }
    }
  }
}
