#container{
.h5{
margin-bottom: 1.5rem;
    font-family: var(--font-grotesk);
    font-size: 0.75rem;
    text-align: center;
    line-height: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: rgba(255,255,255,0.5)
}
ul{
    display: flex;
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 0%;
        height: 8.5rem;
    }
}
}