.right-curve {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 10.125rem;
  margin-top: -0.25rem;
  margin-left: 2.5rem;
  pointer-events: none;

  @media (min-width: 1280px) {
  display: block;
  }
}

.left-curve{
    display: none;
    position: absolute;
    top: 50%;
    right: 100%;
    width: 32.625rem;
    margin-top: -0.25rem;
    margin-right: 2.5rem;
    pointer-events: none;

    @media (min-width: 1280px) {
    display: block;
    }
}
