.gradient-main {
  position: absolute;
  top: 18.25rem;
  left: -30.375rem;
  width: 56.625rem;
  opacity: 0.6;
  mix-blend-mode: color-dodge;
  pointer-events: none;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 58.85rem;
    height: 58.85rem;
    transform: translate(-75%, -50%);

    img {
      width: 100%;
    }
  }
}
