header {
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid #333;

  &.bg-black {
    background-color: rgb(14, 12, 21);
  }

  &.bg-black-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
  }

  @media (min-width: 1024px) {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
  }

  .content {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: 1024px) {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }

    @media (min-width: 1280px) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    @media (max-width: 1023px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .logo {
      display: block;
      width: 12rem;

      @media (min-width: 1280px) {
        margin-right: 2rem;
      }
    }

    nav {
      position: fixed;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(14, 12, 21, 1);

      &.nav-flex {
        display: flex;
      }

      &.nav-hidden {
        display: none;
      }

      @media (min-width: 1024px) {
        position: static;
        display: flex;
        margin: auto;
        background-color: transparent;
      }

      .nav-ul {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;

        @media (min-width: 1024px) {
          flex-direction: row;
        }

        .nav-item {
          padding: 1.5rem;
          display: block;
          position: relative;
          font-family: "Source Code Pro", monospace;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 2rem;
          color: rgba(255, 255, 255, 1);
          transition: all 0.2s linear;

          &:hover {
            color: white !important;
          }

          &.only-mobile {
            @media (min-width: 1024px) {
              display: none;
            }
          }

          &.item-hash-true {
            z-index: 2;

            @media (min-width: 1024px) {
              color: rgba(255, 255, 255, 1);
            }
          }

          &.item-hash-false {
            @media (min-width: 1024px) {
              color: rgba(255, 255, 255, 0.5);
            }
          }

          @media (min-width: 1280px) {
            padding-left: 3rem;
            padding-right: 3rem;
          }

          @media (min-width: 1024px) {
            font-weight: 600;
            line-height: 1.25rem;
            color: rgba(255, 255, 255, 1);
            font-size: 0.75rem;
            line-height: 1rem;
            margin-right: -0.0625rem;
          }

          @media (min-width: 768px) {
            padding-top: 2rem;
            padding-bottom: 2rem;
          }
        }
      }

      .hamburger {
        position: absolute;
        inset: 0;
        pointer-events: none;

        .bg {
          position: absolute;
          inset: 0;
          opacity: 0.03;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .rings {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 51.375rem;
          aspect-ratio: 1/1;
          border: 1px solid rgb(202, 198, 221, 0.1);
          border-radius: 50%;
          transform: translate(-50%, -50%);

          div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 36.125rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid rgb(202, 198, 221, 0.1);

            &:nth-child(2) {
              width: 23.125rem;
            }
          }
        }

        .side-line {
          position: absolute;
          top: 0;
          left: 0;
          width: 0.0625rem;
          height: 100%;
          background-color: rgba(37, 33, 52, 1);

          &.left {
            left: 1.25rem;
            right: unset;
          }

          &.right {
            right: 1.25rem;
            left: unset;
          }
        }

        .bg-circle {
          position: absolute;
          border-radius: 50%;
          width: 0.75rem;
          height: 0.75rem;
          background: linear-gradient(to bottom, #dd734f, #1a1a32);

          &.first {
            top: 4.4rem;
            left: 4rem;
            right: unset;
          }

          &.second {
            top: 12.6rem;
            right: 4rem;
            left: unset;
            background: linear-gradient(to bottom, #b9aedf, #1a1a32);
          }

          &.third {
            top: 26.8rem;
            left: 3rem;
            right: unset;
            width: 1.5rem;
            height: 1.5rem;
            background: linear-gradient(to bottom, #88e5be, #1a1a32);
          }
        }

        @media (min-width: 1024px) {
          display: none;
        }
      }
    }

    .new-account-btn {
      font-family: "Source Code Pro", monospace;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: none;
      margin-right: 2rem;
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.2s linear;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }

      @media (min-width: 1024px) {
        display: inline-flex;
      }
    }

    .signin-btn {
      display: none;

      @media (min-width: 1024px) {
        display: flex;
      }
    }

    .toggle-btn {
      margin-left: auto;
      &.btn-px {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}
