header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid #333;

  @media (min-width: 1024px) {
    background-color: rgba(
      0,
      0,
      0,
      0.8
    );
    backdrop-filter: blur(
      4px
    );  
  }

  .content {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 1.25rem; // 5px equivalent to px-5
    padding-right: 1.25rem; // 5px equivalent to px-5

    @media (min-width: 1024px) {
      padding-left: 1.875rem; // 7.5px equivalent to lg:px-7.5
      padding-right: 1.875rem; // 7.5px equivalent to lg:px-7.5
    }

    @media (min-width: 1280px) {
      padding-left: 2.5rem; // 10px equivalent to xl:px-10
      padding-right: 2.5rem; // 10px equivalent to xl:px-10
    }

    @media (max-width: 1023px) {
      padding-top: 1rem; // 4px equivalent to max-lg:py-4
      padding-bottom: 1rem; // 4px equivalent to max-lg:py-4
    }

    .logo {
      display: block;
      width: 12rem; // Equivalent to w-[12rem]

      @media (min-width: 1280px) {
        // Assuming xl breakpoint starts at 1280px
        margin-right: 2rem; // Equivalent to xl:mr-8
      }
    }

    nav {
      position: fixed;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(14 ,12 ,21, 1);

      &.nav-flex {
        display: flex;
      }

      &.nav-hidden {
        display: none;
      }

      @media (min-width: 1024px) {
        position: static;
        display: flex;
        margin: auto;
        background-color: transparent;
      }

      .nav_ul {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;

        @media (min-width: 1024px) {
          flex-direction: row;
        }

        .nav_item {
          padding-left: 1.5rem;
          padding-right: 1.5rem /* 24px */;
          padding-top: 1.5rem /* 24px */;
          padding-bottom: 1.5rem /* 24px */;
          display: block;
          position: relative;
          font-family: var(--font-code);
          text-transform: uppercase;
          font-size: 1.5rem /* 24px */;
          line-height: 2rem /* 32px */;
          color: rgba(255, 255, 255, 1);
          transition: all 0.2s linear;

          &:hover {
            color: rgba(172,106,255);
          }

          &.only-mobile {
            @media (min-width: 1024px) {
              display: none;
            }
          }

          &.item-hash-true{
            z-index: 2;
            @media (min-width: 1024px) {
          color: rgba(255,255,255 ,1);
               
            }
          }


          &.item-hash-false{
            @media (min-width: 1024px) {
                color: rgba(255 ,255, 255 , 0.5); 
            }
          }
          
          @media (min-width: 1280px) {
       
                padding-left: 3rem/* 48px */;
                padding-right: 3rem/* 48px */;
       
        }

          @media (min-width: 1024px) {
            font-weight: 600;
            line-height: 1.25rem/* 20px */;
            color: rgba(255, 255 ,255 ,1);
            font-size: 0.75rem /* 12px */;
            line-height: 1rem /* 16px */;
            margin-right: -0.0625rem /* -1px */;
          }

          @media (min-width: 768px) {
            padding-top: 2rem /* 32px */;
            padding-bottom: 2rem /* 32px */;
          }
        }
      }
    }
  }
}

.bg-black {
  background-color: rgb(14, 12, 21);
}

.bg-black-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}
