.hero-section-container {
  padding-top: 12rem;
  margin-top: -5.25rem;

  &.crosses-offset {
    @media (min-width: 1024px) {
      --tw-translate-y: 5.25rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }

  .content {
    position: relative;
    width: 100%;
    margin: auto;

    @media (min-width: 640px) {
      max-width: 640px;
    }

    @media (min-width: 768px) {
      max-width: 768px;
    }

    .intro {
      position: relative;
      z-index: 1;
      max-width: 62rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 3.875rem;

      @media (min-width: 768px) {
        margin-bottom: 5rem;
      }

      @media (min-width: 1024px) {
        margin-bottom: 6.25rem;
      }

      .heading {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;

        font-weight: 600;

        line-height: 3.25rem;

        @media (min-width: 768px) {
          font-size: 2.75rem;
          line-height: 3.75rem;
        }

        @media (min-width: 1024px) {
          font-size: 3.25rem;
          line-height: 4.0625rem;
        }

        @media (min-width: 1280px) {
          font-size: 3.75rem;
          line-height: 4.5rem;
        }

        span {
          display: inline-block;
          position: relative;

          img {
            position: absolute;
            top: 100%;
            left: 0px;
            width: 100%;

            @media (min-width: 1280px) {
              margin-top: -0.5rem;
            }
          }
        }
      }

      p {
        color: rgba(202, 198, 221, 1);
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 48rem;
        font-size: 0.875rem;
        line-height: 1.5rem;

        @media (min-width: 768px) {
          line-height: 1.75rem;
          font-size: 1rem;
        }

        @media (min-width: 1024px) {
          line-height: 2rem;
          margin-bottom: 2rem;
          font-size: 1.25rem;
        }
      }
    }

    .banner {
      position: relative;
      max-width: 23rem;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 768px) {
        max-width: 64rem;
      }

      @media (min-width: 1280px) {
        margin-bottom: 24px;
      }

      .foreground {
        position: relative;
        z-index: 1;
        padding: 0.125rem;
        border-radius: 1rem;
        background: conic-gradient(
          from 225deg,
          #ffc876,
          #79fff7,
          #9f53ff,
          #ff98e2,
          #ffc876
        );

        .content {
          position: relative;
          background-color: rgb(14, 12, 21);
          border-radius: 1rem;

          .top-line {
            height: 1.4rem;
            background-color: rgb(67, 67, 92);
            border-radius: 0.9rem 0.9rem 0 0;
          }

          .body {
            aspect-ratio: 33/40;
            border-radius: 0 0 0.9rem 0.9rem;
            overflow: hidden;

            @media (min-width: 768px) {
              aspect-ratio: 688/490;
            }

            @media (min-width: 1024px) {
              aspect-ratio: 1024/490;
            }

            > img {
              width: 100%;
              transform: scale(1.7) translateY(8%);

              @media (min-width: 768px) {
                transform: scale(1) translateY(-10%);
              }

              @media (min-width: 1024px) {
                transform: scale(1) translateY(-23%);
              }
            }

            .hero-icons {
              display: none;
              position: absolute;
              left: -5.5rem;
              bottom: 7.5rem;
              padding: 0.25rem;
              background-color: rgba(71, 64, 96, 0.4);
              backdrop-filter: blur(8px);
              border: 1px solid rgba(255, 255, 255, 0.1);
              border-radius: 1rem;

              @media (min-width: 1280px) {
                display: flex;
              }

              li {
                padding: 1.25rem;
              }
            }
          }
        }
      }

      .background {
        position: absolute;
        top: -54%;
        left: 50%;
        width: 234%;
        transform: translateX(-50%);

        @media (min-width: 768px) {
          top: -46%;
          width: 138%;
        }

        @media (min-width: 1024px) {
          top: -104%;
        }
      }
    }

    .company-logos {
      display: none;
      position: relative;
      z-index: 10;
      margin-top: 5rem;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }
}

.gradient-first-div {
  position: relative;
  z-index: 1;
  height: 1.5rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-color: rgba(27, 27, 46, 1);
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;

  @media (min-width: 1024px) {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  }
}

.gradient-second-div {
  position: relative;
  z-index: 1;
  height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: rgb(27, 27, 46, 0.7);
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;

  @media (min-width: 1024px) {
  height: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  }
}

.bottomLine-div {
  display: none;
  position: absolute;
  top: 55.25rem;
  left: 2.5rem;
  right: 2.5rem;
  height: 0.0625rem;
  background-color: rgba(37, 33, 52, 1);
  pointer-events: none;

  @media (min-width: 1280px) {
  display: block;
  }
}

.bottomLine-plussvg {
  display: none;
  position: absolute;
  top: 54.9375rem;
  left: 2.1875rem;
  z-index: 2;
  pointer-events: none;

  @media (min-width: 1280px) {
  display: block;
  }
}

.rings-first-div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65.875rem;
  aspect-ratio: 1 / 1;
  border-width: 0.0625rem;
  border-radius: 9999px;
}

.backgroundCircles-main {
  position: absolute;
  top: -42.375rem;
  left: 50%;
  width: 78rem;
  aspect-ratio: 1 / 1;
  border-width: 0.0625rem;
  border-radius: 9999px;
  border-color: rgba(202, 198, 221, 0.05);

  @media (min-width: 768px) {
  top: -38.5rem;
  }
  @media (min-width: 1280px) {
  top: -32rem;
  }
.mouseparallax-main{
position: absolute;
bottom: 50%;
left: 50%;
width: 0.0625rem;
height: 50%;
transform-origin: bottom;
&.rotate-46deg{
  transform: rotate(46deg);
}
&.rotate-ms-56deg{
  transform: rotate(-56deg);
}
&.rotate-54deg{
  transform: rotate(54deg);
}
&.rotate-ms-65deg{
  transform: rotate(-65deg);
}
&.rotate-ms-58deg{
  transform: rotate(-85deg);
}
&.rotate-70deg{
  transform: rotate(70deg);
}
  }
}
