.hero-section-container {
  padding-top: 12rem;
  margin-top: -5.25rem;
  .content {
    position: relative;
    width: 100%;
    margin: auto;

    @media (min-width: 640px) {
      max-width: 640px;
    }

    @media (min-width: 768px) {
      max-width: 768px;
    }

    .intro {
      position: relative;
      z-index: 1;
      max-width: 62rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 3.875rem;

      @media (min-width: 768px) {
        margin-bottom: 5rem;
      }

      @media (min-width: 1024px) {
        margin-bottom: 6.25rem;
      }

      .heading {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;

        font-weight: 600;

        line-height: 3.25rem;

        @media (min-width: 768px) {
          font-size: 2.75rem;
          line-height: 3.75rem;
        }

        @media (min-width: 1024px) {
          font-size: 3.25rem;
          line-height: 4.0625rem;
        }

        @media (min-width: 1280px) {
          font-size: 3.75rem;
          line-height: 4.5rem;
        }

        span {
          display: inline-block;
          position: relative;

          img {
            position: absolute;
            top: 100%;
            left: 0px;
            width: 100%;

            @media (min-width: 1280px) {
              margin-top: -0.5rem;
            }
          }
        }
      }

      p {
        color: rgba(202, 198, 221, 1);
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 48rem;
        font-size: 0.875rem;
        line-height: 1.5rem;

        @media (min-width: 768px) {
          line-height: 1.75rem;
          font-size: 1rem;
        }

        @media (min-width: 1024px) {
          line-height: 2rem;
          margin-bottom: 2rem;
          font-size: 1.25rem;
        }
      }
    }

    .banner {
      position: relative;
      max-width: 23rem;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 768px) {
        max-width: 64rem;
      }

      @media (min-width: 1280px) {
        margin-bottom: 24px;
      }

      .foreground {
        position: relative;
        z-index: 1;
        padding: 0.125rem;
        border-radius: 1rem;
        background: conic-gradient(
          from 225deg,
          #ffc876,
          #79fff7,
          #9f53ff,
          #ff98e2,
          #ffc876
        );

        .content {
          position: relative;
          background-color: rgb(14, 12, 21);
          border-radius: 1rem;

          .top-line {
            height: 1.4rem;
            background-color: rgb(67, 67, 92);
            border-radius: 0.9rem 0.9rem 0 0;
          }

          .body {
            aspect-ratio: 33/40;
            border-radius: 0 0 0.9rem 0.9rem;
            overflow: hidden;

            @media (min-width: 768px) {
              aspect-ratio: 688/490;
            }

            @media (min-width: 1024px) {
              aspect-ratio: 1024/490;
            }

            > img {
              width: 100%;
              transform: scale(1.7) translateY(8%);

              @media (min-width: 768px) {
                transform: scale(1) translateY(-10%);
              }

              @media (min-width: 1024px) {
                transform: scale(1) translateY(-23%);
              }
            }

            .hero-icons {
              display: none;
              position: absolute;
              left: -5.5rem;
              bottom: 7.5rem;
              padding: 0.25rem;
              background-color: rgba(71, 64, 96, 0.4);
              backdrop-filter: blur(8px);
              border: 1px solid rgba(255, 255, 255, 0.1);
              border-radius: 1rem;

              @media (min-width: 1280px) {
                display: flex;
              }

              li {
                padding: 1.25rem;
              }
            }
          }
        }
      }

      .background {
        position: absolute;
        top: -54%;
        left: 50%;
        width: 234%;
        transform: translateX(-50%);

        @media (min-width: 768px) {
          top: -46%;
          width: 138%;
        }

        @media (min-width: 1024px) {
          top: -104%;
        }
      }
    }

    .company-logos {
      display: none;
      position: relative;
      z-index: 10;
      margin-top: 5rem;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }
}
