.left-line {
  display: none;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 92.5rem;
  height: 11.0625rem;
  transform: translateY(-50%);
  pointer-events: none;

  img {
    width: 100%;
  }

  @media (min-width: 1024px) {
    display: block;
  }
}

.right-line {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 92.5rem;
  height: 11.0625rem;
  transform: translateY(-50%) scaleX(-1);
  pointer-events: none;

  img {
    width: 100%;
  }

  @media (min-width: 1024px) {
    display: block;
  }
}