#pricing {
  .content {
    position: relative;
    z-index: 2;
    flex-direction: column;

    .graphics {
      display: none;
      position: relative;
      justify-content: center;
      margin-bottom: 6.5rem;

      @media (min-width: 1024px) {
        display: flex;
      }

      .sphere {
        position: relative;
        z-index: 1;
      }

      .stars-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60rem;
        transform: translate(-50%, -50%);
        pointer-events: none;

        img {
          width: 100%;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      margin-top: 2.5rem;

      a {
        font-size: 0.75rem;
        line-height: 1rem;
        font-family: "Source Code Pro", monospace;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-bottom-width: 0.0625rem;
      }
    }
  }
}
